<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69892350092-88udaing775uggl83pi4gr5h1v2a4d0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69892350092-88udaing775uggl83pi4gr5h1v2a4d0p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>69892350092-olsl4t9lf3tv6vk09d7h2ev0s4oun56k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAVgSMkcLAJB2zR6D0H2VvAOxpU91oh4uU</string>
	<key>GCM_SENDER_ID</key>
	<string>69892350092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exploreUniverse</string>
	<key>PROJECT_ID</key>
	<string>exploreuniverse-79cc5</string>
	<key>STORAGE_BUCKET</key>
	<string>exploreuniverse-79cc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69892350092:ios:862139d619b276d7b79ba9</string>
</dict>
</plist>